@import 'src/scss/_vars.scss';

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 300px;
  max-width: 80%;
  border-right: 2px solid $green-500;
}

.resizer {
  position: absolute;
  right: -2px;
  width: 6px;
  height: 100%;
  background: transparent;
  cursor: col-resize;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}


