@import 'src/scss/_vars.scss';

.wrapper {
  position: relative;
  display: flex;
  width: min-content;
  margin-left: auto;
  padding-left: 40px;
}

.input {
  position: relative;

  & + & {
    margin-left: 6px;
  }
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 22px;
  border: 1px solid;
  border-radius: $radius-primary;
  background: $white;
  font-weight: 500;
  font-size: .875rem;
  opacity: .4;
}

.radio {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.input .radio:checked + .label {
  opacity: 1;
}

.input.waiting {

  .label {
    border-color: $c-waiting;
    color: $c-waiting;
  }

  .radio:checked + .label {
    background: $c-waiting;
    color: $white;
  }
}

.input.inProcess {

  .label {
    border-color: $c-inProcess;
    color: $c-inProcess;
  }

  .radio:checked + .label {
    background: $c-inProcess;
    color: $white;
  }
}

.input.complete {

  .label {
    border-color: $c-complete;
    color: $c-complete;
  }

  .radio:checked + .label {
    background: $c-complete;
    color: $white;
  }
}

.wrapper.edited {

  & .label {
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

