@import 'src/scss/_vars.scss';

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 80px;
  padding: 10px 15px 10px 44px;
  border-radius: $radius-primary;
  user-select: none;
  overflow: hidden;

  &:before {
    position: absolute;
    top: calc(50% - 16px / 2);
    left: 14px;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba($green-500, .15);
  }
}

.name, .description, .datetime {
  border-radius: $radius-primary;
  background: rgba($green-500, .15);
}

.name, .description {
  width: 100%;
}

.description, .datetime {
  height: 14px;
  margin-top: 6px;
}

.name {
  height: 16px;
}

.datetime {
  width: 120px;
}