@import "src/scss/_vars.scss";

.btn--lg {
  height: 36px;
  padding: 0 15px;
  border-radius: $radius-primary;

  // large Add
  &.btn--add {
    border-color: $green-500;
    color: $green-500;

    &:hover {
      background: $green-500;
      color: $white;
    }
  }
}

.btn--sm {
  width: 34px;
  height: 34px;
  border: none;
  // small Complete
  &.btn--complete:hover {
    background: $c-complete;
  }
  // small Edit
  &.btn--edit:hover {
    background: $c-edit;
  }
  // small InProcess
  &.btn--inProcess:hover {
    background: $c-inProcess;
  }
  // small delete
  &.btn--delete:hover {
    background: $c-delete;
  }
}





