@import 'src/scss/_vars.scss';

.wrapper {
  position: relative;
  border-radius: $radius-primary;
  overflow: hidden;
  border: 1px solid transparent;
  padding: 10px 15px 10px 44px;
  height: 80px;
  flex-shrink: 0;

  &:hover {
    background: rgba($green-500, .1);
  }

  &:before {
    position: absolute;
    top: calc(50% - 16px / 2);
    left: 14px;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  user-select: none;
}

.name {
  @include font($font-f-regular, 700);
  flex-shrink: 0;
  height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
}

.description, .date, .time {
  margin-top: 4px;
}

.description {
  @include font($font-f-regular, 500);

  color: $font-c-secondary;
}

.datetime {
  display: flex;
}

.date, .time {
  @include font($font-f-regular, 400);
}

.date + .time {
  margin-left: 15px;
}

.btns {
  position: absolute;
  bottom: 2px;
  right: 2px;
  display: none;
  border-radius: $radius-primary;
  background: rgba($white, .85);
  backdrop-filter: blur(1px);
  overflow: hidden;
  z-index: 10;
}

.wrapper:hover .btns {
  display: flex;
}

.taskWaiting:before {
  background: $c-waiting;
}

.taskInProcess:before {
  background: $c-inProcess;
}

.taskComplete:before {
  background: $c-complete;
}

.selected {
  border: 1px solid $green-500;
  background: rgba($green-500, .1);
}