@import 'src/scss/_vars.scss';

.task {

  &--waiting:before,
  &--inProcess:before,
  &--complete:before {
    position: absolute;
    top: calc(50% - 16px / 2);
    left: 15px;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }

  &--waiting:before {
    background: $c-waiting;
  }

  &--inProcess:before {
    background: $c-inProcess;
  }

  &--complete:before {
    background: $c-complete;
  }
}
