@import 'src/scss/_vars.scss';

.wrapper {
  position: relative;
  border-radius: $radius-primary;
  overflow: hidden;

  &:hover {
    background: rgba($green-500, .1);
  }

  &:before {
    position: absolute;
    top: calc(50% - 16px / 2);
    left: 14px;
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.inner {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80px;
  padding: 10px 15px 10px 44px;
  user-select: none;
}

.name, .description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1rem;
}

.name {
  @include font($font-f-regular, 700);
}

.description {
  @include font($font-f-regular, 500);

  margin-top: 6px;
  color: $font-c-secondary;
  font-size: .875rem;
}

.datetime {
  @include font($font-f-regular, 400);

  margin-top: 6px;
  display: flex;
  white-space: nowrap;
  font-size: .875rem;
}

.date {
  & + .time {
    margin-left: 12px;
  }
}

.btns {
  position: absolute;
  bottom: 2px;
  right: 2px;
  display: none;
  border-radius: $radius-primary;
  background: transparent;
  overflow: hidden;
  z-index: 10;
}

.wrapper:hover .btns {
  display: flex;
}

.taskWaiting:before {
  background: $c-waiting;
}

.taskInProcess:before {
  background: $c-inProcess;
}

.taskComplete:before {
  background: $c-complete;
}