@import "src/scss/_vars.scss";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: max-content;
}

.input {
  outline: none;
  width: 100%;
  height: fit-content;
  min-height: max-content;
  padding: 10px 20px 10px 10px;
  border: 1px solid transparent;
  border-radius: $radius-primary;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  resize: none;
  overflow: hidden;
}