@import "src/scss/_vars.scss";

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  &.edited {

    & .input {

      &:hover {
        background: $green-100;
      }

      &:focus {
        border-color: $green-500;
        background: $green-100;
      }
    }

    &:before {
      position: absolute;
      content: '';
      bottom: 6px;
      right: 6px;
      width: 12px;
      height: 12px;
      background-image: url('../../../img/edit__icon.svg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      opacity: .7;
    }
  }
}

.input {
  outline: none;
  width: 100%;
  padding: 10px 20px 10px 10px;
  border: 1px solid transparent;
  border-radius: $radius-primary;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  resize: none;
  overflow: hidden;
}