@import 'scss/_vars.scss';

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @include font($font-f-regular, 400);

  font-size: 16px;
  color: $font-c-primary;
  letter-spacing: -.5px;

  * {

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba($green-500, .3);
      border: 2px solid $white;
      border-left: 3px solid $white;
      border-radius: 4px;

      &:hover {
        background: rgba($green-500, 1);
      }
    }
  }
}

#root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 15px;
}