@import '_fonts.scss';
@import '_mixins';

$white: #FFF;
$green-100: #E0EEEB;
$green-500: #2D8D79;
$font-c-primary: #1C1C1C;
$font-c-secondary: #666666;
$c-waiting: #BEBEBE;
$c-inProcess: #E8AB35;
$c-complete: #51B965;
$c-edit: #3D76AB;
$c-delete: #C74037;
$c-enter: $green-500;
$c-cancel: $c-delete;

$radius-primary: 4px;

$font-f-regular: 'Gotham Pro', sans-serif;