@import 'src/scss/_vars.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 0 10px 5px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($green-500, .3);
    border: 2px solid $white;
    border-left: 3px solid $white;
    border-radius: 4px;

    &:hover {
      background: rgba($green-500, 1);
    }
  }
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 500;
}