@import 'src/scss/_vars.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px 0 10px 5px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-weight: 500;
}